* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  justify-content: space-between;
  padding: 14px 0px;
  position: fixed;
  width: 100%;
}

section {
  padding: 50px 0px;
}

main section:first-child {
  margin-top: 77px;
}

footer {
  padding: 50px 0px;
}

h1 {
}

h2 {
}

h3 {
}

#logo {
  height: 20px;
  padding: 0px 10px 0px 0px;
}

.ib {
  /* TEMPORANEO */
  border: 1px dashed red;
}

.header-box {
  width: 35%;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
}

.container-big {
  max-width: 1100px;
  width: 100%;
  min-width: 300px;
  min-height: 180px;
  padding: 0px 0px;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  width: 100%;
  min-width: 300px;
  min-height: 180px;
  padding: 0px 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.box1 {
  min-height: 120px;
}

.box2 {
  min-height: 600px;
  width: 100%;
  flex-wrap: wrap;
}

.box3 {
  min-height: 180px;
}

.card {
  width: calc(100% / 3);
  height: 300px;
}

.square {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
}

.bg-color-white {
  background-color: white;
}

.bg-color-lightblue {
  background-color: #b4d0e7;
}

.bg-color-black {
  background-color: #000000;
}

.bg-color-blue {
  background-color: #0061ff;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-wine {
  color: #640d2b;
}

.link {
  text-decoration: none;
  padding: 10px 10px;
}

.button {
  border: none;
  padding: 6px 15px;
}
