* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.85rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  justify-content: space-between;
  padding: 14px 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

section {
  padding: 60px 0px;
}

footer {
  padding: 50px 0px;
}

h1 {
  font-size: 4rem;
  font-family: "Lato";
  word-spacing: 0.4rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2rem;
  padding-bottom: 40px;
}

h4 {
  font-size: 1.2rem;
  padding-bottom: 16px;
}

p {
  line-height: 18px;
  padding-bottom: 22px;
}

ul {
  list-style: none;
  margin-bottom: 40px;
}

li {
  margin: 20px 0px;
}

span {
  display: inline-block;
}

#logo {
  height: 20px;
  padding: 0px 10px 0px 0px;
}

#main-title {
  padding-bottom: 45px;
}

#advice {
  padding-bottom: 50px;
}

#jumbo-img {
  max-height: 370px;
}

#jumbo-container {
  position: relative;
  top: 94px;
}

#jumbotron {
  padding: 32px 0px;
}

#info-team {
  padding-bottom: 40px;
}

#team-plan {
  margin-top: 20px;
}

#business-plan {
  padding-top: 60px;
}

.ib {
  /* TEMPORANEO */
  border: 1px dashed red;
}

.header-box {
  width: 35%;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
}

.container-big {
  max-width: 960px;
  width: 100%;
  min-width: 300px;
  min-height: 180px;
  margin: 0 auto;
}

.container {
  max-width: 830px;
  width: 100%;
  min-width: 300px;
  min-height: 180px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-left {
  align-self: flex-start;
}

.align-center {
  align-self: center;
}

.align-right {
  align-self: flex-end;
}

.stretch {
  align-self: stretch;
}

.space-between {
  justify-content: space-between;
}

.inblock {
  display: inline-block;
}

.box1 {
  min-height: 130px;
}

.box2 {
  min-height: 600px;
  width: 100%;
}

.box3 {
  min-height: 180px;
}

.shortened-box {
  padding-right: 10px;
}

.wrap {
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3);
  height: 300px;
}

.square {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
}

.bg-color-white {
  background-color: white;
}

.bg-color-lightblue {
  background-color: #b4d0e7;
}

.bg-color-black {
  background-color: #000000;
}

.bg-color-blue {
  background-color: #0061ff;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-grey {
  color: #d0d0d3;
}

.text-wine {
  color: #640d2b;
}

.small-text {
  font-size: 0.75rem;
}

.link {
  text-decoration: none;
  padding: 10px 10px;
}

.small-button {
  border: none;
  padding: 6px 15px;
  cursor: pointer;
}

.big-button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 22px;
}

.testo {
  width: 32%;
}

.testo-large {
  width: 66%;
}

.mid-icon {
  font-size: 2.7rem;
}

.col {
  flex-grow: 1;
  width: calc((100% - 5rem) / 3);
}

.col-title {
  border: 1px solid #d0d0d3;
  padding: 8px 0px;
  text-align: center;
}

.col-body {
  border: 1px solid #d0d0d3;
  padding: 22px 23px;
  height: calc(100% - 50px);
  width: 100%;
}

.gap0 {
  gap: 2px;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 2.5rem;
}

.gap-list {
  gap: 4px;
}

.hr-space {
  color: #d0d0d3;
  width: 20%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.check {
  color: #0061ff;
}

.price {
  padding-bottom: 10px;
}

.rate {
  padding-bottom: 40px;
}
